* {
    outline: none!important;
}


#mainSection {
    min-height: 100vh; 
    overflow: visible;  
    position: relative;
}


.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 30%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    transition: opacity 1s ease-in-out;
    opacity: 0; 
}

#bg1 {
    opacity: 1; 
}


.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    margin-top: auto;
}

#brandLogo {
    width: 80px;
    max-width: 100%;
}